@import "./fontello-4b338c27/css/fontello.css";

body {
  margin: 0;
  background-color: black;
  background-image: url("static/pics/backg.jpg");
  background-repeat: repeat;
  // background-size: 20px;
  color: white;
  font-family: "PT Serif", serif;
  overflow-x: hidden;
}

.slide {
  height: 100vh;
}

.top {
  // color: black;
  // background-image: url("static/pics/backg.png");
  position: relative;

  .headline {
    padding-top: 12rem;
    font-size: 7rem;
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;
  }

  .subhed {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
    // max-width: 500px;
    font-family: "Open Sans", sans-serif;
  }
}

.go-down {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 10px;
  border-radius: 50%;
  border: 2px solid white;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.9;
  cursor: pointer;
  i {
    left: 14px;
    top: 11px;
    position: relative;
  }
}

.bounce {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.photos {
  position: relative;
  width: 100vw;
  z-index: 10;
  vertical-align: top;
  text-align: center;
  .photo-container {
    display: inline-block;
    width: 100px;

    img {
      clip-path: circle(50px at center);
      width: 70px;
      margin: 15px;
      cursor: pointer;
      &:hover {
        width: 150px;
        margin: -25px;
        clip-path: circle(80px at center);
        z-index: 100;
      }
    }
  }

  .photo-row {
    margin-top: 150px;
    text-align: center;
    width: 20%;
    display: inline-block;
    vertical-align: top;
  }

  .family-name {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.text-slide {
  position: relative;
  font-family: "Open Sans", sans-serif;
  p {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    top: 40vh;
    font-size: 1.2rem;
    background-color: #3a3a3a50;
    padding: 20px;
    border-radius: 10px;
    z-index: 3;
  }

  // .slide-pics {
  // text-align: right;
  // margin-right: 50px;

  &:not(.text-map):hover {
    img {
      transform: rotate(5deg);
    }
    .hover-highlight {
      opacity: 1;
    }
    .no-highlight {
      opacity: 0;
    }
  }
  &:not(.text-map) {
    img {
      position: absolute;
      top: 10px;
      z-index: -1;
    }
  }

  .hover-highlight {
    opacity: 0;
    z-index: 2;
  }
  // }
}

.pic-description {
  height: 80px;
  width: 200px;
  text-align: center;
  padding: 5px;
  position: absolute;
  opacity: 0;
  z-index: 100;
  background: rgb(244, 242, 242);
  color: black;
  border-radius: 10px;
  font-weight: bold;
  pointer-events: none;

  p {
    margin: 10px;
    font-size: 1rem;
  }

  &.show {
    animation-fill-mode: forwards;
    animation: show 1s infinite;
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.text-map {
  position: relative;

  .wandhama-locator {
    // z-index: -1;
    // position: relative;
    z-index: -1;
    position: absolute;
    // height: 600px;
    vertical-align: top;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .overlay-dot {
      animation: pulse 2s infinite;
      @keyframes pulse {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
    .wandhama-village {
      opacity: 0;
      height: 50%;
      left: 0;
    }

    &:hover {
      .wandhama-village {
        opacity: 1;
      }
    }

    // height: 600px;
    // text-align: right;
    img {
      // right: 20px;
      height: 100%;
      position: absolute;
      right: 0;
      // height: 100%;
    }
  }
}

.text-bodies {
  p {
    // text-align: right;
    // margin-right: 100px;
    background-color: #3a3a3a80;
    z-index: 3;
  }
  .wandhama-bodies {
    // text-align: right;
    // margin-right: 50px;
    &:hover {
      img {
        transform: rotate(5deg);
      }
      .wandhama-bodies-highlight {
        opacity: 1;
      }
      .wandhama-bodies {
        opacity: 0;
      }
    }
    img {
      right: 200px;
    }

    .wandhama-bodies-highlight {
      opacity: 0;
      z-index: 2;
    }
  }
}

.text-failed {
  img {
    right: 20px;
  }
  p {
    right: 100px;
  }
  // p {
  //   background-color: #3a3a3aaa;
  // }
}

.text-victims {
  height: 150vh;
  img {
    height: 600px;
    right: 100px;
    opacity: 80%;
  }
}

.text-house {
  .wandhama-house {
    // text-align: right;
    margin-left: 50px;
  }
}

p.darker {
  background-color: #3a3a3aaa;
}

.text-burning {
  img {
    height: 600px;
    left: 100px;
    opacity: 80%;
  }
}

.splide__pagination__page {
  background: #93a313;
}

.splide__arrow {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  width: 50px;
  height: 50px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  opacity: 1;
  background: none;
  color: white;
  font-size: 20px;
}

.language-toggle {
  z-index: 10000;
  p {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
  }
  span {
    cursor: pointer;
  }
  width: 150px;
  margin: 50px auto;
  font-family: "Open Sans", sans-serif;
}
