@font-face {
  font-family: 'fontello';
  src: url('/fontello.6c2ac329.eot?20525646');
  src: url('/fontello.6c2ac329.eot?20525646#iefix') format('embedded-opentype'),
       url('/fontello.46eea958.woff2?20525646') format('woff2'),
       url('/fontello.ae31fe86.woff?20525646') format('woff'),
       url('/fontello.bb71e4fb.ttf?20525646') format('truetype'),
       url('/fontello.4bb7d515.svg?20525646#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?20525646#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
body {
  margin: 0;
  background-color: black;
  background-image: url("/backg.0f23fdeb.jpg");
  background-position: center;
  background-repeat: repeat;
  color: white;
  font-family: "PT Serif", serif;
  overflow-x: hidden;
}

.slide {
  height: 100vh;
}

.top {
  position: relative;
}
.top .headline {
  padding-top: 10rem;
  font-size: 7rem;
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: center;
}
.top .subhed {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
.top .byline {
  font-size: 1.4rem;
  font-family: "PT Serif", serif;
  text-align: center;
  font-weight: bold;
  margin: 2rem 0;
}

.go-down {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 10px;
  border-radius: 50%;
  border: 2px solid white;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.9;
  cursor: pointer;
}
.go-down i {
  left: 14px;
  top: 11px;
  position: relative;
}

.bounce {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.photos {
  position: relative;
  width: 100vw;
  z-index: 10;
  vertical-align: top;
  text-align: center;
}
.photos .photo-container {
  display: inline-block;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.photos .photo-container img {
  clip-path: circle(50px at center);
  width: 70px;
  margin: 15px;
  pointer-events: none;
}
.photos .photo-container img:hover {
  width: 150px;
  margin: -25px;
  clip-path: circle(80px at center);
  z-index: 100;
}
.photos .photo-row {
  margin-top: 70px;
  text-align: center;
  width: 70%;
  display: inline-block;
  vertical-align: top;
}
.photos .family-name {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.text-slide {
  position: relative;
  font-family: "Open Sans", sans-serif;
  overflow-y: hidden;
}
.text-slide p.slide-words {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 40vh;
  font-size: 1.2rem;
  background-color: #3a3a3a50;
  padding: 20px;
  border-radius: 10px;
  z-index: 3;
  pointer-events: none;
}
.text-slide:not(.text-map):not(.text-news) .slide-pics:hover img {
  transform: rotate(5deg);
}
.text-slide:not(.text-map):not(.text-news) .slide-pics:hover .hover-highlight {
  opacity: 1;
}
.text-slide:not(.text-map):not(.text-news) .slide-pics:hover .no-highlight {
  opacity: 0;
}
.text-slide:not(.text-map) .slide-pics {
  position: absolute;
  top: 10px;
  z-index: 2;
  width: 600px;
  height: 100%;
}
.text-slide:not(.text-map) img {
  position: absolute;
}
.text-slide .hover-highlight {
  opacity: 0;
  z-index: 2;
}

.pic-description {
  height: 80px;
  width: 200px;
  text-align: center;
  padding: 5px;
  position: absolute;
  opacity: 0;
  z-index: 100;
  background: #f4f2f2;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  pointer-events: none;
}
.pic-description p {
  margin: 10px;
  font-size: 1rem;
}
.pic-description.show {
  animation-fill-mode: forwards;
  animation: show 1s infinite;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-map {
  position: relative;
}
.text-map .wandhama-locator {
  z-index: -1;
  position: absolute;
  vertical-align: top;
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.text-map .wandhama-locator .overlay-dot {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.text-map .wandhama-locator .wandhama-village {
  opacity: 0;
  height: 50%;
  left: 0;
}
.text-map .wandhama-locator:hover .wandhama-village {
  opacity: 1;
}
.text-map .wandhama-locator img {
  height: 100%;
  position: absolute;
  right: 0;
}

.text-bodies p {
  background-color: #3a3a3a80;
  z-index: 3;
}
.text-bodies .slide-pics {
  right: 10px;
  top: 10px !important;
}

.text-failed .slide-pics {
  right: 100px;
  top: 50px !important;
}

.text-victims .slide-pics {
  right: 80px;
}
.text-victims img {
  height: 600px;
  opacity: 0.8;
}

.text-house .wandhama-house {
  margin-left: 50px;
}

p.darker {
  background-color: #3a3a3ac1 !important;
}

.text-burning .slide-pics {
  height: 600px;
  left: 100px;
  opacity: 0.8;
}
.text-burning .slide-pics.child-pic {
  right: 100px;
  left: auto;
  top: 0px;
}
.text-burning .slide-pics.child-pic img {
  height: 600px;
  left: auto;
  right: 0px;
}
.text-burning img {
  height: 100%;
}

.splide__pagination__page {
  background: #6a0000;
  border: 1px solid #ff8787;
}

.splide__pagination__page.is-active {
  background: #ff7979;
}

.splide__arrow {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  width: 50px;
  height: 50px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  opacity: 1;
  background: none;
  color: white;
  font-size: 20px;
}

.language-toggle {
  z-index: 10000;
  width: 150px;
  margin: 50px auto;
  font-family: "Open Sans", sans-serif;
}
.language-toggle p {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}
.language-toggle span {
  cursor: pointer;
}

.text-tweets {
  background-image: url("/tweets.eb978615.png");
  background-size: cover;
}
.text-tweets .tweets {
  text-align: center;
  position: relative;
  top: 40px;
  color: black;
}
.text-tweets .tweets .tweet {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
.text-tweets .tweets .slide-heading {
  font-weight: bold;
  font-size: 1.8rem;
  text-shadow: 1px 1px 3px white, 1px -1px 3px white, -1px 1px 3px white;
}
.text-tweets .tweets .hashtags {
  font-weight: bold;
  text-shadow: 1px 1px 3px white, 1px -1px 3px white, -1px 1px 3px white;
}

.news {
  background-image: url("/news.087b95da.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
.news div {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.news div p {
  position: absolute;
  font-size: 10rem;
  font-weight: bold;
  margin: 0px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 10px black;
  font-family: "PT Serif", serif;
}

.hide-on-desktop {
  display: block;
}

.hide-on-mobile {
  display: none;
}

@media (max-width: 500px) {
  .top .headline {
    font-size: 3rem;
  }
  .top .subhed {
    max-width: 250px;
    font-size: 1.2rem;
  }

  .slide-pics {
    width: 100% !important;
    position: relative;
  }

  .slide-pics {
    right: 0;
    left: 0;
  }
  .slide-pics img {
    width: 95%;
    top: 10%;
    left: 2.5%;
    max-height: 100%;
  }

  .text-house .wandhama-house {
    margin-left: 0px;
  }

  .text-burning .slide-pics {
    left: 0px;
    opacity: 0.8;
  }
  .text-burning .slide-pics.child-pic {
    right: 0px;
    top: 0px;
  }
  .text-burning .slide-pics.child-pic img {
    max-width: 90%;
    height: auto;
  }

  .text-victims img {
    height: auto;
    width: 95%;
    top: 10%;
  }

  .news {
    background-image: url("/news-mobile.6043bd3f.png");
  }
  .news div p {
    font-size: 6rem;
  }

  .hide-on-desktop {
    display: none;
  }

  .hide-on-mobile {
    display: block;
  }

  .text-tweets .tweets {
    top: 40px;
  }
  .text-tweets .tweets .tweet {
    width: 80%;
    height: 100%;
    padding: 0px;
  }

  .photos .photo-row {
    width: 100%;
  }
  .photos .photo-row .photo-container {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .photos .photo-row .photo-container img {
    clip-path: circle(50px at center);
    width: 60px;
    margin: 15px;
    pointer-events: none;
  }
  .photos .photo-row .photo-container img:hover {
    width: 150px;
    margin: -25px;
    clip-path: circle(80px at center);
    z-index: 100;
  }
}
@media (max-width: 769px) {
  .photos .photo-row {
    width: 100%;
    margin-top: 120px;
  }
}

/*# sourceMappingURL=/main.39afc03c.css.map */